body{
  background-color: #fce2c4;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
div.header{
  margin-top: -5px;
  position: 0px;
  height: 90px;
  width: 100%;
  position: fixed;
  background-color: rgb(247, 37, 154);
}
h1{
  padding-left: 5px;
  display: inline-block;
  position: absolute;
}
h1.another{
  padding-left: 5px;
  position: static;
}
h2{
  position: static;
}
div.banner{
  position: static;
  height: 265px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #FF9966;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 90px;
}
div.yoko{
  max-height: 200px;
  width: auto;
  margin: 5px;
}
div.contents-row{
  display: flex;
  flex-direction: row;
}
div.content{
  box-shadow: 0 0 2px gray;
  background-color: #fce2c4;
  display: flex;
  margin: 8px;
  width: 400px;
  height: 130px;
}
div.img{
  width: 147px;
  height: 100%;
  margin: 4px;
}
div.content-explain{
  width: 253px;
  height: 100%;
}
img{
  max-width: 100%;
  height: auto;
  width /***/:auto;
}
p.content{
  margin: 0px;
  font-size: 5px
}
a{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
div.page-button-view{
  margin: 10px;
}
div.page-button{
}
button.page-button{
  width: 50px;
  height: 50px;
}
hr{
  size: 10px;
}
a.site-policy{
  width: 115px;
  margin: 10px;
  float: left;
}
a.site-list{
  width: 80px;
  margin: 10px;
  float: left;
}
a.contact{
  width: 100px;
  margin: 10px;
  float: left;
}
p.site-link{
  margin-bottom: 0px;
}
#form2{
  display: inline-block;
  position: absolute;
  width: 230px;
  height: 48px;
  margin: -5px;
  margin-left: 50px;
  margin-block-start: 21.440px;
  margin-block-end: 21.440px;
  margin-right: 80px;
  left: 500px;
}
#sbox2{
  height: 100%;
  width: 100%;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  position: absolute; 
  left: 0;
  top: 0; 
  border-radius: 2px;
  outline: 0;
  background: #eee;
  margin-top: 0px;
  padding-right: 48px;
}
#sbtn2{
  height: 100%;
  position: absolute; 
  left: 258px;/*アイコン左右の位置調整*/
  background: none;
  color: #666;
  border: none;
  font-size: 20px;/*アイコンサイズ*/
}
#sbtn5:hover{
  color: #7fbfff;
}
button.category{
  position: absolute;
}
div.category{
  position: fixed;
  left: 850px;
  width: 400px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
button.category{
  margin: 2px;
  position: relative;
}
button.content-category{
}
#modal-content{
  display: none;
  width: 50%;
  margin: 1.5em auto 0;
  padding: 10px 20px;
  border: 2px solid #aaa;
  background: #fff;
  z-index: 2;
  position: fixed;
}
#modal-overlay{
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.75);
}
.modal-p{
  margin-top: 1em;
}
.modal-p:first-child{
  margin-top: 0;
}
.button-link{
  color: #00f;
  text-decoration: underline;
  display: inline-block;
  margin-right: 20px;
}
.button-link:hover{
  cursor: pointer;
  color: #f00;
}
label.category{
  display: block;
}
div.reg-category-left{
  display: inline-block;
  vertical-align: top;
}
div.reg-category-right{
  display: inline-block;
  vertical-align: top;
}

@media screen and ( max-width: 479px ){
  div.contents-row{
    display: block;
  }
  div.content{
    width: 100%;
  }
  div.img{
    width: 150px;
  }
  div.content-explain{
    width: 300px;
  }
}