body{
  background-color: #fce2c4;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
h1{
  padding-top: 0.67em;
  padding-bottom: 0.67em;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  background: rgb(247, 37, 154);
}
ul{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFCCCC;
  padding-inline-start: 10px;
}
li{
  background: #FFCCCC;
  list-style: none;
  box-shadow: 0 0 4px rgb(247, 37, 154);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}
div.content{
  box-shadow: 0 0 4px gray;
  background-color: #fce2c4;
  width: 480px;
  height: 300px;
  margin: 10px;
  vertical-align: top;
  display: inline-block;
  padding: 5px;
}
div.event_content{
  margin: 30px;
}
a.movie_link{
  display: inline-block;
}
div.banner{
  position: static;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #FF9966;
}
div.yoko{
  max-height: 200px;
  width: auto;
  margin: 5px;
}
p.event{
  margin-top: 1px;
  margin-bottom: 1px;
}